.inventoryDisplay {
    border-style: solid;
    border-color: black;
    font-size:1vw;
    margin:5px;
}
.oreDisplay {
    margin:0.1vh;
}
.movementButton {
    width:6vw;
}
#switchInventory {
    border-style: solid;
    border-color: black;
    font-size:1vw;
    width:100%;
}
#blockDisplay {
    font-size: 2vw;
}
#resetMine {
    width:50%
}